/nbproject/private/
/build/
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/private.properties

# Archivos generados por IDEs
.idea/
*.iml
*.ipr
*.iws

# Archivos compilados
/bin/
/target/

# Dependencias y librerías
/lib/
/libs/

# Archivos de compilación de Maven
.mvn/
target/

# Archivos de configuración de Eclipse
.classpath
.project
.settings/

# Archivos de configuración de NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml

# Archivos de configuración de IntelliJ
*.iml
*.ipr
*.iws
out/

# Archivos de registro
*.log

# Archivos de copias de seguridad
*~
*.swp